/build/
/.cache/
/CMakeUserPresets.json
__pycache__/
*.pyc
/experiments/managed_gameplay/**/bin/
/experiments/managed_gameplay/**/obj/

/managed/**/bin/
/managed/**/obj/
/examples/managed/**/bin/
/examples/managed/**/obj/

/tests/fixtures/**/bin/
/tests/fixtures/**/obj/

# Local editable project created by launch-editor.cmd, not engine source.
/projects/sandbox/
